.card {
  display: block;
  margin: 0px auto;
  max-width: 600px;
  border: none;
}

.search-city {
  display: block;
  margin: 0px auto;
  max-width: 600px;
}
.d-flex {
  position: relative;
  width: 600px;
}

h1 {
  font-size: 45px;
  font-family: "Times New Roman", Times, serif;
  color: rgba(10, 10, 10, 0.719);
  text-align: center;
}

.now {
  font-size: 15px;
}

.temp {
  text-align: center;
}

.main-temp {
  font-size: 80px;
  font-family: "Times New Roman", Times, serif;
}

.degrees {
  font-size: 18px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: relative;
  bottom: 55px;
  color: rgb(73, 73, 73);
}

.description {
  color: rgb(63, 180, 226);
  font-size: 20px;
  text-align: left;
}

ul {
  list-style-type: none;
  text-align: left;
  font-size: 16px;
  font-style: monospace;
}

.weather-icon {
  text-align: left;
}
.stats {
  text-align: center;
  font-size: 25px;
}

@media (max-width: 700px) {
  h1 {
    font-size: 30px;
  }
  .main-temp {
    font-size: 50px;
  }

  .degrees {
    font-size: 15px;

    bottom: 30px;
  }

  .description {
    font-size: 15px;
  }

  .weather-icon {
    bottom: 20px;
  }

  .time {
    font-size: 16px;
  }
}
