.card {
  display: block;
  margin: 0px auto;
  max-width: 600px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.search-city {
  display: block;
  margin: 0px auto;
  max-width: 600px;
  margin-top: 2%;
}
.d-flex {
  position: relative;
  width: 600px;
}

h1 {
  font-size: 45px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 550;
  line-height: 35px;
  color: rgba(5, 5, 5, 0.514);
  text-align: center;
}

.weekday {
  font-size: 25px;
}

.time {
  font-size: 20px;
  line-height: 1;
}

.main-temp {
  text-align: center;
  font-size: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
  position: relative;
  left: 30px;
}

.degrees {
  font-size: 20px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: relative;
  bottom: 55px;
  text-align: center;
  position: relative;
  left: 40px;
  color: rgb(73, 73, 73);
}

.weather-today .description {
  color: rgb(41, 163, 233);
  font-size: 20px;
  text-align: center;
  position: relative;
  bottom: 30px;
}

ul {
  list-style-type: none;
  text-align: left;
  font-size: 16px;
  font-style: monospace;
}

.weather-icon {
  text-align: center;
  position: relative;
  bottom: 50px;
}
.stats {
  text-align: center;
  font-size: 25px;
}

.bubble-scale .text-question {
  text-align: center;
}

@media (max-width: 700px) {
  h1 {
    font-size: 30px;
  }
  .main-temp {
    font-size: 80px;
  }

  .degrees {
    font-size: 12px;
  }

  .description {
    font-size: 15px;
  }

  .weekday {
    font-size: 20px;
  }
  .time {
    font-size: 16px;
  }
}
